---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import LocalSEO from '../components/LocalSEO.astro';
import Facebook from '../components/Facebook.astro';
import WhyUs from '../components/WhyUs.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import 'aos/dist/aos.css'

---

<Layout title='Garage Door Repair & Installation Richmond KY | Garage Door Solutions'
  		description="Professional garage door repair, installation & 24/7 emergency service in Richmond, Lexington, and surrounding Kentucky areas. 10+ years experience, 100+ satisfied customers. Call now!"
  		keywords="garage door repair Richmond KY, garage door installation Kentucky, emergency garage door service Lexington, garage door company Berea, garage door spring repair">
	<!-- <Welcome /> -->
	<Header />
	<main>
		<Hero />
		<Services/>
		<LocalSEO />
		<Facebook />
		<WhyUs />
		<Testimonials />
		<Contact />
		<Footer />
	</main>

</Layout>
